<!DOCTYPE html>
<html>
<head>
  <title>IronLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-header">
    <%= link_to root_path do %>
    <h1>The Book Emporium <% end %><small>we got books.</small></h1>

    <%= link_to 'Sign up', new_user_path, class: "btn btn-primary" %>
    <%= link_to 'Sign in', sign_in_path, class: "btn btn-primary" %>
    <%= link_to 'Sign out', sign_in_path, method: :delete, class: "btn btn-primary" %>

  </div>
  <% if notice %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>

<%= yield %>

</body>
</html>
